#*
*$
*.BAK
*.Z
*.bak
*.class
*.dylib
*.elc
*.jar
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*.war
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
